<div class="topcart">
    <a href="{{ cart }}"><span><i class="fa fa-shopping-cart"></i></span></a>
</div>
{# <div id="cart" class="mini-cart">
    <div class="basket">
        <a href="{{ cart }}"><i class="fas fa-shopping-cart" style="font-size:18px;"></i></a>
    </div>
    <div class="fl-mini-cart-content" style="display: none;">
        <div class="block-subtitle">
            {% if products %}
            <div class="top-subtotal"><span id="cart-total">{{ text_items }}</span> </div>
            {% else %}
            <div class="top-subtotal text-center" style="min-width:250px;">{{ text_empty }}</div>
            {% endif %}
            <!--top-subtotal-->
            <!--pull-right-->
        </div>
        <!--block-subtitle-->
        <ul class="mini-products-list" id="cart-sidebar">
            {% if products %} {% for product in products %}
            <li class="item first">
                <div class="item-inner">
                    <a class="product-image" title="{{ product.name }}" href="{{ product.href }}">
                        {% if product.thumb %}
                        <img alt="{{ product.name }}" src="{{ product.thumb }}">
                        {% endif %}
                      </a>
                    <div class="product-details">
                        <div class="access">
                            <a class="btn-remove1" title="Remove This Item" href="#" onclick="cart.remove('{{ product.cart_id }}');">{{ button_remove }}</a>
                            <!--access-->
                            <strong>{{ product.quantity }}</strong> x <span class="price">{{ product.total }}</span>
                            <p class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></p>
                        </div>
                    </div>
            </li>
            {% endfor %} {% endif %}
        </ul>
        {% if products %}
        <div class="actions">
            <button class="btn-checkout" title="Checkout" type="button" onClick="window.location='{{ cart }}';"><span>{{ text_checkout }}</span></button>
        </div>
        {% endif %}
        <!--actions-->
    </div>
    <!--fl-mini-cart-content-->
</div> #}
