
        <!-- SLIDER -->
        <div class="slider-wrap" id="banner{{ module }}">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE  -->
                        {% for banner in banners %}
                        <li data-transition="fade" data-slotamount="2" data-masterspeed="500"
                            data-thumb="{{ banner.image }}" data-saveperformance="on" data-title="{{ banner.title }}">
                            <!-- MAIN IMAGE -->
                            <img src="{{ banner.image }}" alt="{{ banner.title }}" data-lazyload="{{ banner.image }}"
                                data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </div>
{# <div class="swiper-viewport">
  <div id="banner{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">{% for banner in banners %}
      <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}
      <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
      {% endif %}</div>
      {% endfor %}</div>
  </div>
</div>
<script type="text/javascript"><!-- 
$('#banner{{ module }}').swiper({
	effect: 'fade',
	autoplay: 2500,
    autoplayDisableOnInteraction: false
});
--></script>  #}