<!-- BLOCKS WRAP -->
<div class="block-main container">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="block-content">
                <img src="{{image}}" class="img-responsive" alt="" />
                {# <a href="{{category1.link}}">
                <div class="bs-text-down bs-text-down-top text-center hvr-outline-out">
                    <h3> {{category1.name}}</h3>
                </div>
                </a>
                <a href="{{category2.link}}">
                <div class="bs-text-down bs-text-down-center text-center hvr-outline-out">
                    <h3> {{category2.name}}</h3>
                </div>
                </a>
                <a href="{{category3.link}}">
                <div class="bs-text-down text-center hvr-outline-out">
                    <h3> {{category3.name}}</h3>
                </div>
                </a> #}
            </div>
            <a href="{{category1.link}}">
                <div class="text-center">
                    <h3 style="color:#333;"> {{category1.name}}</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="block-content">
                <img src="{{image2}}" class="img-responsive" alt="" />
                {# <a href="{{category4.link}}">
                <div class="bs-text-center text-center">
                        <h3> {{category4.name}}</h3>
                </div>
                </a> #}
            </div>
            <a href="{{category2.link}}">
                <div class="text-center">
                    <h3 style="color:#333;"> {{category2.name}}</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="block-content">
                <img src="{{image3}}" class="img-responsive" alt="" />
                {# <a href="{{category5.link}}">
                <div class="bs-text-down bs-text-down-top text-center">
                    <h3> {{category5.name}}</h3>
                </div>
                </a>
                <a href="{{category6.link}}">
                <div class="bs-text-down bs-text-down-center text-center">
                    <h3> {{category6.name}}</h3>
                </div>
                </a>
                <a href="{{category7.link}}">
                <div class="bs-text-down text-center">
                    <h3> {{category7.name}}</h3>
                </div>
                </a> #}

            </div>
            
            <a href="{{category3.link}}">
                <div class="text-center">
                    <h3 style="color:#333;"> {{category3.name}}</h3>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="clearfix"></div>