<div class="basket" id="cart">
    <div class="dropdown">
        <a class="dropdown-toggle" data-hover="dropdown" data-loading-text="{{ text_loading }}" href="{{ cart }}">
            <div id="cart-total">
                {{ text_items }}
            </div>
        </a>
        <ul class="dropdown-menu" id="cart-sidebar">
            {% if products or vouchers %} 
            {% for product in products %}
            <li>
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-4">
                            <div class="thumb">
                                {% if product.thumb %}
                                <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-8">
                            <div class="title"><a href="{{ product.href }}">{{ product.name }}</a></div>
                            <div class="price">{{ product.total }}</div>
                        </div>
                    </div>
                    <a class="close-btn" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" style="cursor:pointer;"></a>
                </div>
            </li>
            {% endfor %} 
            {% for total in totals %}
            <li>
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-6">
                            {{ total.title }}
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-6 text-right">
                            {{ total.text }}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class="checkout">
                <div class="merged-buttons">
                    <a href="{{ cart }}" class="btn-add-to-cart le-btn ">{{ text_cart }}</a>
                    <a href="{{ checkout }}" class="btn-add-to-wishlist le-btn ">{{ text_checkout }}</a>
                </div>
            </li>
            {% else %}
            <li>
                <div class="text-center"><p style="padding:10px 15px;margin:0;">{{ text_empty }}</p></div>
            </li>
            {% endif %}

        </ul>
    </div>
</div>