{% if languages|length > 1 %}

{% for language in languages %}
{% if language.code == code %} 
<a class="dropdown-toggle" href="#" data-toggle="dropdown">
  {{ language.name }}
</a>
{% endif %}
{% endfor %}
<input type="hidden" name="redirect" id="language_redirect" value="{{ redirect }}" />
<ul class="dropdown-menu language_switch">
    {% for language in languages %}
    <li><a data-code="{{ language.code }}">{{ language.name }}</a></li>
    {% endfor %}
</ul>
{# <div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      {% for language in languages %}
      {% if language.code == code %} 
      <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
      {% endif %}
      {% endfor %}
      <span class="hidden-xs hidden-sm hidden-md">{{ text_language }}</span>&nbsp;<i class="fa fa-caret-down"></i></button>
      <ul class="dropdown-menu">
        {% for language in languages %}
        <li>
          <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div> #}

<script type="text/javascript">
$(document).ready(function(){
  $(".language_switch > li > a").click(function(){
    var code = $(this).data("code");
    var redirect = encodeURIComponent($("#language_redirect").val());
    var link = "{{ action }}" + "&code=" + code + "&redirect=" + redirect;
    window.location.href = link;
  });
});
</script>
{% endif %}
