{{ header }}
<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="space10"></div>

<!-- BLOG CONTENT -->
<div class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 blog-content">
                <div class="blog-single">
                    <article class="blogpost">
                        <h2 class="post-title">{{blog_title}}</h2>
                        
                        <div class="space30"></div>
                        <!-- Media Gallery -->
                        <div class="post-media">
                            <div class="blog-slider">
                                <div class="item">						
                                    <img src="{{blog_image}}" class="img-responsive" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <div class="space30"></div>
                        {{blog_description}}
                    </article>
                </div>
                
                
                <div class="space60"></div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix space20"></div>
{{ footer }}