{{ header }}
<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
    </div>
</div>

<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- HTML -->
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>Your Order History</h4>                                                                    
                    <div class="order-history">
                        {% if orders %}
                          <table class="cart-table">
                              <tr>              
                                <td class="text-right">{{ column_order_id }}</td>
                                <td class="text-left">{{ column_customer }}</td>
                                <td class="text-right">{{ column_product }}</td>
                                <td class="text-left">{{ column_status }}</td>
                                <td class="text-right">{{ column_total }}</td>
                                <td class="text-left">{{ column_date_added }}</td>
                                <td></td>
                              </tr>
                              {% for order in orders %}
                                <tr>
                                  <td class="text-right">#{{ order.order_id }}</td>
                                  <td class="text-left">{{ order.name }}</td>
                                  <td class="text-right">{{ order.products }}</td>
                                  <td class="text-left">{{ order.status }}</td>
                                  <td class="text-right">{{ order.total }}</td>
                                  <td class="text-left">{{ order.date_added }}</td>
                                  <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn-black"><i class="fa fa-eye"></i></a></td>
                                </tr>
                                {% endfor %}
                            <tfoot>
                              <tr>
                                <td colspan="7">
                                <div class="row">
                                  <div class="col-sm-6 text-left">{{ pagination }}</div>
                                  <div class="col-sm-6 text-right">{{ results }}</div>
                                </div>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                          
                        {% else %}
                        <p>{{ text_empty }}</p>
                        {% endif %}
                        
                        <div class="table-btn">
                            <a href="{{continue}}" class="btn-black">Back To Account</a>
                        </div>
                    </div>                          
                </div>
            </div>                        
        </div>
    </div>
</div>
<div class="clearfix space20"></div>

{{ footer }}