{{ header }}

<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
    </div>
</div>
<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            {{ column_left }}
            {{ content_top }}
            <div class="col-md-9 col-sm-8">
                <!-- HTML -->
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>{{text_password}}</h4>                                                                 
                    <div class="account-form">
                        <form id="shipping-zip-form" action="{{ action }}" method="post" enctype="multipart/form-data" >                                      
                            <ul class="form-list row">
                                <li class="col-md-6 col-sm-6">
                                    <label >Password <em>*</em></label>
                                    <input required type="password" class="input-text" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password">
                                </li>
                                <li class="col-md-6 col-sm-6">
                                    <label> Password Confirm <em>*</em></label>
                                    <input required type="password" class="input-text" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm">
                                </li>                                               
                            </ul>
                            <div class="buttons-set">
                                <button class="btn-black" type="submit"><span><span>{{button_continue}}</span></span></button>
                            </div>
                        </form>
                    </div>                                 
                </div>
            </div>

            {{ column_right }}
            {{ content_bottom }}
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
{{ footer }}