<!-- FOOTER START -->
<div class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-middle">
                <div class="row mb-60">
                    <div class="col-md-4 f-col footer-middle-left">
                        <div class="f-logo">
                            <a href="index.php" class="">
                                <img src="catalog/view/theme/default/assets/images/logo.png" alt="Eshoper">
                            </a>
                        </div>
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <ul class="footer-block-contant address-footer">
                                <li class="item"> <i class="fa fa-map-marker"> </i>
                                    <p>{{ address }}</p>
                                </li>
                                <li class="item"> <i class="fa fa-envelope"> </i>
                                    <p>{{ email }}</p>
                                </li>
                                <li class="item"> <i class="fa fa-phone"> </i>
                                    <p>{{ phone }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 footer-middle-right">
                        <div class="row mb-40">
                            <div class="icon-newsletter">
                                <div class="col-lg-5 col-md-12">
                                    <div class="footer_social pt-xs-15 center-sm">
                                        <ul class="social-icon">
                                            <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
                                            <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
                                            <li><a title="googleplus" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                                            <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
                                            <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
                                            <li><a title="youtube" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12">
                                    <div class="newsletter-inner center-sm">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="newsletter-title">
                                                </div>
                                            </div>
                                            <div class="col-md-11">
                                                <form>
                                                    <div class="newsletter-box">
                                                        <input type="email" placeholder="Email Here...">
                                                        <button title="Subscribe" class="btn-color">Subscribe</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          {% for cat in category %}
                            <div class="col-md-3 f-col">
                                <div class="footer-static-block"> <span class="opener plus"></span>
                                    <a href="{{cat.href}}"><h5 class="title">{{cat.name}}</h5></a>
                                    {% if cat.product | length > 0 %}
                                    <ul class="footer-block-contant link">
                                      {% for pro in cat.product %}
                                        <li><a href="{{pro.href}}">{{pro.name}}</a></li>  
                                      {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-bottom align-center">
                <div class="row">
                    <!-- <div class="col-sm-12 mb-30">
              <div class="site-link">
                <ul>
                  <li><a>About Us</a></li>
                  <li><a>Contact Us</a></li>
                  <li><a>Customer </a></li>
                  <li><a>Service</a></li>
                  <li><a>Privacy</a></li>
                  <li><a>Policy </a></li>
                  <li><a>Accessibility</a></li>
                  <li><a>Directory </a></li>
                </ul>
              </div>
            </div> -->
                    <div class="col-sm-12 mb-30">
                        <div class="copy-right ">© 2017 All Rights Reserved.</div>
                    </div>
                    <!--   <div class="col-sm-12 mb-30">
              <div class="payment">
                <ul class="payment_icon">
                  <li class="visa"><a><img src="view/theme/default/assets/images/pay1.png" alt="Eshoper"></a></li>
                  <li class="discover"><a><img src="view/theme/default/assets/images/pay2.png" alt="Eshoper"></a></li>
                  <li class="paypal"><a><img src="view/theme/default/assets/images/pay3.png" alt="Eshoper"></a></li>
                  <li class="vindicia"><a><img src="view/theme/default/assets/images/pay4.png" alt="Eshoper"></a></li>
                  <li class="atos"><a><img src="view/theme/default/assets/images/pay5.png" alt="Eshoper"></a></li>
                </ul>
              </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-top">
    <div id="scrollup"></div>
</div>
<!-- FOOTER END -->


<script src="catalog/view/theme/default/assets/js/fotorama.js"></script>
<script src="catalog/view/theme/default/assets/js/jquery.magnific-popup.js"></script>
<script src="catalog/view/theme/default/assets/js/owl.carousel.min.js"></script>
<script src="catalog/view/theme/default/assets/js/custom.js"></script>

<!-- custom product gallery -->
<script src="catalog/view/theme/default/assets/js/script.js"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</div>
</body>

</html>
<!-- <footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
</body>

</html> -->