<!-- News Letter Start -->
<section>
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="newsletter-inner center-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="newsletter-title">
                                    <h2 class="main_title">Sign up to receive 10% off* your first order</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="newsletter-box">
                                        <input type="email" placeholder="Email Here...">
                                        <button title="Subscribe" class="btn-color">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News Letter End -->

<!-- FOOTER START -->
<div class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-middle">
                <div class="row mb-60">
                    <div class="col-md-3 f-col footer-middle-left">
                        <div class="f-logo">
                            <a href="index.php" class="">
                                <img src="catalog/view/theme/default/assets/images/logo01.png" style="max-width:100%;min-width:20%;height:auto;" alt="Eshoper">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <ul class="footer-block-contant address-footer">
                                <li class="item"> <i class="fa fa-map-marker"> </i>
                                    <p>บริษัท บางกอกแอธเลติก จำกัด (สำนักงานใหญ่) <br> 611/210-213 ซ.วัดจันทร์ใน <br> บางโคล่ บางคอแหลม กรุงเทพฯ 10120</p>
                                </li>
                                <li class="item"> <i class="fa fa-envelope"> </i>
                                    <p> <a>sportstownonline.div@ba-group.in.th </a> </p>
                                </li>
                                <li class="item"> <i class="fa fa-phone"> </i>
                                    <p> 091-890-3797, 02-689-8345 (2207)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 footer-middle-right">
                        <div class="row">
                            {% for cat in category %}
                            <div class="col-md-5 f-col">
                                <div class="footer-static-block"> <span class="opener plus"></span>
                                    <a href="{{cat.href}}"><h4 class="title" style="font-size:24px;">{{cat.name}} <span></span>&nbsp;</h4></a>
                                    {% if cat.product | length > 0 %}
                                    <ul class="footer-block-contant link">
                                        {% for product in cat.product %}
                                        <li><a href="{{product.href}}">{{product.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="footer-bottom align-center">
                <div class="row mb-30">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer_social pt-xs-15 center-sm">
                            <ul class="social-icon">
                                {% if facebook %}
                                <li><a href="{{facebook}}" title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
                                {% endif %}
                                {% if google %}
                                <li><a href="{{google}}" title="googleplus" class="googleplus"><i class="fa fa-google-plus"> </i></a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="copy-right ">© 2017 All Rights </div>
                    </div>
                    <!--  <div class="col-lg-4 col-md-12 col-sm-12">
                      <div class="payment">
                          <ul class="payment_icon">
                              <li class="visa"><a><img src="images/pay1.png" alt="Eshoper"></a></li>
                              <li class="discover"><a><img src="images/pay2.png" alt="Eshoper"></a></li>
                              <li class="paypal"><a><img src="images/pay3.png" alt="Eshoper"></a></li>
                              <li class="vindicia"><a><img src="images/pay4.png" alt="Eshoper"></a></li>
                              <li class="atos"><a><img src="images/pay5.png" alt="Eshoper"></a></li>
                          </ul>
                      </div>
                  </div> -->
                </div>
                <!-- <hr> -->
                <!--  <div class="row">
                  <div class="col-sm-12 mtb-30">
                      <div class="site-link">
                          <ul>
                              <li><a>About Us</a></li>
                              <li><a>Contact Us</a></li>
                              <li><a>Customer </a></li>
                              <li><a>Service</a></li>
                              <li><a>Privacy</a></li>
                              <li><a>Policy </a></li>
                              <li><a>Accessibility</a></li>
                              <li><a>Directory </a></li>
                          </ul>
                      </div>
                  </div>
              </div> -->
            </div>
        </div>
    </div>
</div>
<div class="scroll-top">
    <div id="scrollup"></div>
</div>
<!-- FOOTER END -->


{#
<footer>
    <div class="container">
        <div class="row">
            {% if informations %}
            <div class="col-sm-3">
                <h5>{{ text_information }}</h5>
                <ul class="list-unstyled">
                    {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-sm-3">
                <h5>{{ text_service }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_extra }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
                    <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
                    <li><a href="{{ special }}">{{ text_special }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>{{ text_account }}</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                    <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                    <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p>{{ powered }}</p>
    </div>
</footer> #}
</div>


<div class="modal fade" id="modal-wishlist">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Wishlish</h4>
            </div>
            <div class="modal-body" id="content-wishlist">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-compare">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Compare</h4>
            </div>
            <div class="modal-body" id="content-compare">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cart">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cart</h4>
            </div>
            <div class="modal-body" id="content-cart">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>